<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Story8!!!</title>
  <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Condensed&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            crossorigin="anonymous"></script>
  <link rel = "stylesheet"
        type = "text/css"
        href = "{% static 'css/style8.css' %}" />
</head>

<body>
  <div class="frontPage" style="background-image: url({% static 'images/RandomPhotoOfNotBook.png' %})">
    <h1 class="wantbook"><b>l</b>ooking for <b>b</b>ooks?</h1>
  </div>

  <div>
      <form id="book-form">
          <div class="form-row">
              <div class="col-12 col-md-9 mb-2 mb-md-0">
                  <input type="text" id="title-search" class="form-control form-control-lg"
                         placeholder="look up here">
              </div>
              <div class="col-12 col-md-3">
                  <button type="submit" class="btn btn-block btn-lg btn-primary">search</button>
              </div>
          </div>
      </form>
  </div>
        <div class="row" id="book-result"></div>
</body>

<script>
  $(document).ready(
      $('#book-form').submit(function (event) {
          event.preventDefault();
          const bookTitle = $('#title-search').val();
          $.ajax({ method: 'GET', url: "https://www.googleapis.com/books/v1/volumes?q=" + bookTitle, success: function (result) {
            let bookRow = $('#book-result');
            bookRow.empty();
            const resultList = result.Search;
            for (let i = 0; i < result.items.length; i++) {
                bookRow.append(
                    "<div class='col-lg-4 col-sm-6 mb-4'>" +
                    "<div class='card h-100'>" +
                    "<img class='card-img-top' src=" + result.items[i].volumeInfo.imageLinks.thumbnail + ">" +
                    "<div class='card-body'>" +
                    "<h4 class='card-title'>" + result.items[i].volumeInfo.title + "</h4>" +
                    "<p class='card-text'>Author Name: " + result.items[i].volumeInfo.authors + "</p>" +
                    "</div>" +
                    "</div>" +
                    "</div>"
                );
            }
          }
      });
    })
  );
</script>