<!DOCTYPE html>
<html lang="en">
{% load static %}

{% block content %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Story8!!!</title>
  <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Condensed&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="{% static 'js/accordion.js' %}"></script>
  <link rel = "stylesheet"
        type = "text/css"
        href = "{% static 'css/style8.css' %}" />
</head>

<body>
  <div class="frontPage" style="background-image: url({% static 'images/RandomPhotoOfNotBook.png' %})">
    <h1 class="wantbook"><b>l</b>ooking for <b>b</b>ooks?</h1>
  </div>
  <div class="form-inline justify-content-center pt-3">
    <div class="form-group-lg mx-sm-3 mb-2">
      <input type="text" name="form-control" id="pencarian" placeholder="look up">
      <button type="submit" class="search btn btn-secondary">search</button>
    </div>
  </div>

  <div class="row" id="movie-result"></div>

</body>
{% endblock content %}