<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Story7!!!</title>
  <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Condensed&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="{% static 'js/accordion.js' %}"></script>
  <link rel = "stylesheet"
   		type = "text/css"
   		href = "{% static 'css/style.css' %}" />
</head>

<body class="bw">
	<div class="frontPage" style="background-image: url({% static 'images/IMG_20191021_104705.jpg' %})">

		<div class="nama">i am <strong>Sya<u>uqi</u> Muhammad Dhiya Ulhaq</strong></div>
	</div>
	<button class="change">TO RGB/BW</button>

	<div class="acc_bw">
		<div id="accordion">
		 	<h3 class="accordion_head">About Me :)</h3>
		  <div>
		    <p>
		    an informatics system student that into photography, videography, cats, city buses, and HIMYM tv series. still learn about programming and try to be the best son to his parent
		    </p>
		  </div>
		  <h3 class="accordion_head">Activity + Experience</h3>
		  <div>
		  	<p>Active student at <b>Faculty of Computer Science Universitas Indonesia</b></p>
		  	<p class="active_since">2018-present</p>
		    <p>Creative Division at <b>Jepret Busway Community</b></p>
		    <p class="active_since">2016-present</p>
		    <p>Treasurer of <b>Science Club SMAN 3 Jakarta</b></p>
		    <p class="active_since">2017</p>
		  </div>
		  <h3 class="accordion_head">Organization + Committee</h3>
		  <div>
		    <p>
		    <p>Academic Division <b>PMB Fasilkom UI 2019</b></p>
		    </p>
		    <p>Head of Funding <b>SIWAK-NG 2019</b></p>
		    <p>Project Officer <b>Science Class "TRAP" 2016</b></p>
		  </div>
		  <h3 class="accordion_head">Achievement</h3>
		  <div>
		    <p>
		    404 not found :(
		    </p>
		  </div>
		</div>
	</div>
</body>
</html>