body {
	font-family: 'Encode Sans Semi Condensed', sans-serif;
	font-size: 20px;
	background-color: #0a0a0a;
	color: white;
	align-items: center !important;
}

p {
	font-size: 18px;
}

.frontPage{
	filter: grayscale(100%);
	height: 125px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.wantbook{
	font-size: 35px;
	text-align: center;
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	color: white;
}

#book-result {
	margin-top: 10px;
}
