body {
	font-family: 'Encode Sans Semi Condensed', sans-serif;
	font-size: 20px;
	background-color: #ffffff;
	color: #000000;
}

.bw{
	background-color: #ffffff;
	color: #000000;
}

.rgb{
	background-color: #292a5e;
	color: #ffffff;
}

.acc_bw h3:hover{
	background-color: #222222;
	color: #fff;
}
.acc_rgb h3:hover{
	background-color: #000363;
	color: #ff6969;
}

p {
	font-size: 18px;
}

.acc_bw p {
	background-color: #fff;
	color: #000 ;
}

.acc_rgb p {
	background-color: #23244d;
	color: #fff ;
}

.frontPage{
	filter: grayscale(100%);
	height: 600px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.nama{
	font-size: 35px;
	text-align: center;
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	color: white;
}

.change {
	margin-top: 10px;
	margin-left: 200px;
}

#accordion{
	position: absolute;
	margin-top: 100px;
	margin-left: 200px;
	margin-right: 200px;
	margin-bottom: 400px;
}

.active_since {
	margin-top: -20px;
	font-size: 15px;
	margin-left: 1px;
}